@import "define.css";
@import "import.css";

html body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-col);
    color: var(--text-col);
    font-family: var(--primary-font);
    letter-spacing: var(--ls-tight);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  background: radial-gradient(
    circle at right,
    rgba(2, 216, 166, 0.1),
    transparent 60%
  );
  pointer-events: none;
}

main {
    margin-left: 14vw; /* instead of 10 */
    width: min(50%, 420px);
}

h1 {
    font-weight: var(--f-medium);
    font-size: 30pt;
    margin-bottom:-10px;
}

/* Table Styles */
.tg-wrap table {
    width: 100%;
    max-width: 400px;
    border-collapse: collapse;
    margin-top: 1.5rem;
}

a {
    color: var(--text-col);
    text-decoration: double;
}

a:hover {
    text-decoration: underline;
}

.tg-wrap td {
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: var(--fs-sm);
    color: var(--text-col);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 0.75rem 0;
}

.row + .row {
  margin-top: 0.25rem;
}

.tg-wrap tr:last-child td {
    border-bottom: none;
}

.tg-wrap td:last-child {
    text-align: right;
}

h2 {
    font-weight: var(--f-medium);
}

body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

#cdfr {
  font-size: var(--fs-sm);
  opacity: 0.6;
  letter-spacing: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    font-size: 10px;
    letter-spacing: 0px;
}